/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');


.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  background: #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 6px;
  top: 10px;
  width: 12px;
  height: 12px;
  color: #FF3D00;
  background: currentColor;
  border-radius: 50%;
  box-shadow: 25px 2px, 10px 22px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.form {
  display: flex;
  margin: 50px auto;
  gap: 8px;

}

.form input {
  width: 272px;
  height: 40px;
  padding-left: 5px;
}

.hidden {
  display: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 90px;
  height: 40px;
  background: #4e75ff;
  pointer-events: auto;
  border: none;
  color: #fff;

}

.button-load-more{
  margin: 0 auto;
  margin-bottom: 20px;
}



* {
  box-sizing: border-box;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  margin: 0 auto;
}



.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 0.3s ease-in;
}


.gallery-image:hover {
  transform: scale(1.05);

}

.number-list {
  display: flex;
  gap: 28px;
  padding: 0 20px;

}

.umber-text {
  text-align: center;
}

